.main-panel {
    display: flex;
    min-height: 100%;
    width: 100%;

}

.left-panel {
    min-height: 100%;
    width: 100%;
    background-color: #D0BFFF;

}

.right-panel {
    position: fixed;
    right: 0;
    height: 100%;
}

.title-panel{
    margin-top: 4%;
    margin-left: 6%;
}

.title{
    color: white;
    font-weight: 500;
    font-size: 9vh;

}

.subtitle-panel{
    margin-left: 5%;
    margin-bottom: 8%;
}

.subtitle{
    color: white;
    font-weight: 500;
    font-size: 3vh;

}

.accordion{
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

.faq-screen-spotify-logo {
  min-height: 100vh;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.faq-content-box{
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.faq-screen-spotify-logo img {
  width: 80%;
  height: 100%;
}

.sub-text{
  width: 80%;
  font-size: 22px;
  color: #6F0C9D;
}
