<div class="login-screen">
  <div class="left-side">
    <div class="content">
      <div class="title">
        <h3 class="roxin">Entrar</h3>
      </div>
      <div class="inputs">
        <input placeholder="USUÁRIO">
        <input placeholder="SENHA">
      </div>
      <div class="sub-line">
        <h5>Não tem conta?</h5>
        <button routerLink="/register" class="button-register" (click)="biloles()">Cadastre-se Já</button>
      </div>
      <div class="faq">
        <button routerLink="/faq" (click)="biloles()">FAQ </button>
      </div>
      <div class="login-button">
        <button class="login-button-enter" routerLink="/main"  >Entrar</button>
      </div>
    </div>
  </div>
  <div class="right-side">
    <div class="spotifylogo">
      <img src="/assets/img/spotify.svg" alt="">
    </div>
  </div>
</div>


