
.roxin{
  color: #5A0682;
}
.login-screen{
  width: 100%;
  height: 100%;
  display: flex;
}

.left-side{
  display: flex;
  height: 100%;
  width: 70%;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/img/someguy.svg");
  background-position: center;
   background-size: cover;

}

.right-side{
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: center;
  background-color: #ffffff;

}

.content{
  width: 80%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* border: 1px solid black; */

}

.title{
  width: 100%;
}

.login-button{
  width: 60%;
  height: 10%;
  display: flex;
  /* background-color: red; */
  justify-content: flex-start;
  align-items: center;
}

.login-button-enter{
  /* background-color: #5A0682; */
  width: 50%;
  height: 100%;
  border-radius: 15px;
  border: 0;
  font-size: 20px;
  color: white;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgb(176, 71, 225) 0%, rgba(145,39,195,1) 35%, rgba(90,6,130,1) 100%);
}

.inputs{
  height: 20%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.inputs input{
  width: 50%;
  height: 15%;
  outline: none;
  border: none;
  border-bottom: 1px solid #5A0682;
}

.inputs input,textarea{
  background-color: transparent;
  padding-block: 3%;
  padding-inline: 1.5%;
  box-sizing: border-box;
}

::placeholder {
  color: rgb(219, 219, 219);
  font-weight: 100;
} 

.sub-line{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.button-register{
  /* color: #5A0682; */
  color: white;
  text-decoration: underline;
  border: none;
  background-color: transparent;
  font-size: 20px;
  margin-left: 1%;
}

.button-register:hover{ 
  color: #5A0682;
  transition: 200ms;
  text-decoration: underline;
  border: none;
  background-color: transparent;
}

.faq{
  color: #5A0682;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.faq button{
  color: #5A0682;
  text-decoration: underline;
  border: none;
  background-color: transparent;

}

.spotifylogo{
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spotifylogo img{
  width: 90%;
  height: 90%;
  /* filter: invert(80%) sepia(100%) saturate(0%) hue-rotate(156deg) brightness(107%) contrast(109%); */
}
