<div class="login-screen">
  <div class="left-side">
    <div class="content">
      <div class="title">
        <h3 class="roxin">Entrar</h3>
      </div>
      <div class="inputs">
        <h4 class="">Usuário</h4>
        <input>
        <h4>Senha</h4>
        <input>
      </div>
      <div class="sub-line">
        <h5>Não tem conta?</h5>
        <h5 class="roxin">Cadastre-se Já</h5>
      </div>
      <div class="faq">
        <button routerLink='"faq"'(click)="biloles()">FAQ </button>
      </div>
      <div class="login-button">
        <button >Entrar</button>
      </div>
    </div>
  </div>
  <div class="right-side">
    <div class="spotifylogo">
      <img src="/assets/img/spotify.svg" alt="">
    </div>
  </div>
</div>


