<div class="login-screen">
  <div class="left-side">
    <div class="content">
      <div class="title">
        <h3 class="roxin">Entrar</h3>
      </div>
      <div class="inputs" [formGroup]="form">
        <input placeholder="USUÁRIO" formControlName="username">
        <input placeholder="SENHA" type="password" formControlName="password">
      </div>
      <div class="sub-line">
        <h5>Não tem conta?</h5>
        <button routerLink="/register" class="button-register" >Cadastre-se Já</button>
      </div>
      <div class="faq">
        <button routerLink="/faq">FAQ </button>
      </div>
      <div class="login-button">
        <button class="login-button-enter" (click)="submit()">Entrar</button>
      </div>
    </div>
  </div>
  <div class="right-side">
    <div class="spotifylogo">
      <img src="/assets/img/spotify.svg" alt="">
    </div>
  </div>
</div>


