.user-button-space{
  width: 100%;
  height: 100%;
  /* background-color: red; */
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-button{
  width: 90%;
  height: 90%;
  background-color: #D0BFFF;
  border-radius: 30px;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  justify-content: center;
  align-items: center;
}

.user-button:hover{
  width: 95%;
  height: 95%;
  font-size: 105%;
  background-color: white;
}

.user-button:hover .text{
  color:#D0BFFF;
}

.user-button:hover .text{
  color:#D0BFFF;
}


.user-button:hover .arrow-down img{
  filter: invert(71%) sepia(57%) saturate(413%) hue-rotate(205deg) brightness(101%) contrast(101%);
}

.img{
  width: 20%;
  height: 90%;
  border-radius: 360px;
}

.img img{
  width: 100%;
  height: 100%;
  border-radius: 9999999px;
}

.text{
  width: 55%;
  height: 60%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100%;
}


.arrow-down{
  width: 20%;
  height: 90%;
  border-radius: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-down:hover{
  background-color:#D0BFFF;
}

.arrow-down button{
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 9999px;
}

.arrow-down img:hover{

}
