<div class="user-button-space">
  <div class="user-button">
    <div class="space-inside">
      <div class="img">
        <img src="{{ this.selected_user.photo_path }}">
      </div>
      <div class="text">
        {{ this.selected_user.username }}
      </div>
      <div class="arrow-down">
        <button>
          <img src="/assets/img/arrow-down-branca.svg" alt="">
        </button>
      </div>
    </div>
    <div class="dropdown-content">
      <div class="content">
        <div class="drop-buttons">
          <button routerLink='/main/profile/' >MEU PERFIL</button>
          <button (click)="logout()">LOGOUT</button>
        </div>
      </div>
    </div>
  </div>

</div>
