<div class="sidebar">
  <div class="top-container">
    <div class="buttons">
      <button class="sidebar-button" *ngFor="let button of buttonsTop" routerLink="{{ button.buttonRouter }}">
        {{ button.buttonName }}
      </button>

    </div>
  </div>

  <div class="mid-container">
    <div class="buttons">
      <button class="sidebar-button" *ngFor="let button of buttonsMid" (click)="createPlaylist()">
        {{ button.name }}
      </button>
    </div>
  </div>

  <div class="playlist-container">
    <div class="playlist-buttons">
      <button class="playlist-button" *ngFor="let playlist of buttonsPlaylist" (click)='intoPlaylist(playlist)'>
        {{ playlist.name }}
      </button>
    </div>

  </div>
</div>
