<ng-container *ngIf="show">
  <div class="add-music-modal">

    <div class="container">

      <div class="music-input">
        <div class="deleteButton" (click)="hideModal()">
          <button>
            X
          </button>
        </div>
        <input type="text" (input)="onChangeInput($event)" placeholder="Nome da música">
      </div>
      <div class="music-loop-space">
        <div class="music-space-column">
          <button class="row" (click)="addMusic(music.id)" *ngFor="let music of musics">
            <div class="img">
              <img src="{{ music.photo }}">
            </div>
            <div class="name">
              <p>{{ music.name }}</p>
            </div>
          </button>

        </div>
      </div>
    </div>
  </div>
</ng-container>