<div class="playbar">
  <div class="music-info">
    <div class="music-photo">

    </div>
    <div class="music-text">
      <div class="music-name">

      </div>
      <div class="music-singer">

      </div>
    </div>


  </div>
  <div class="buttons">
    <div class="music-buttons">
      <button *ngFor="let buttons of buttonsArray" class="music-buttons-layout">
        <img class="{{ buttons.classStyle }}" src="{{ buttons.source }}" alt="">
      </button>
    </div>
    <div class="progress-bar">

    </div>
  </div>
  <div class="right-buttons">
    <div class="option-buttons">
      <div class="option">

      </div>
      <div class="option">

      </div>
      <div class="option">

      </div>
      <div class="option">

      </div>
    </div>
    <div class="volumebar">

    </div>
  </div>
</div>
