<div class="playlist-all">
  <div class="topside">
    <div class="topside-content">
      <div class="img">
        <img class="playlist-img" src="{{ selected_playlist.photo_path}}">
      </div>
      <div class="text">
        <h6 class="top-text"> Playlist Privada</h6>
        <h1 class="playlist-title">{{ selected_playlist.name}}</h1>
        <div class="made-by-who">
          <img class="tiny-img" src="{{ this.userService.loggedUser.photo_path }}" alt="">
          <p class="tiny-text"> by {{ this.userService.loggedUser.username }} </p>
        </div>
      </div>
    </div>
  </div>
  <div class="botside">
    <div class="topbar">
      <button (click)="modal.toggle()">+</button>
    </div>
    <app-modal #modal />
    <div class="rows-space">
      <div class="row" *ngFor="let music of playlist_musics; index as i">
        <div class="number-play">
          <div class="number">
            <p> {{i+1}} </p>
          </div>
          <div class="playbutton">
            <button (click)="playAudio(music)">
              <img src="/assets/img/play-button-playlist.svg">
            </button>
          </div>
        </div>


        <div class="music-info">
          <div class="music-photo">
            <img src="{{ music.photo}}">
          </div>
          <div class="music-info-text">
            <div class="music-title">
              {{ music.name }}
            </div>
            <div class="music-band">
              {{ music.composer}}
            </div>

          </div>
        </div>
        <div style="cursor: pointer;" class="album" (click)="excludemusicdaplaylist(music.id)">
          X
        </div>
        <div class="timestamp">
          {{ music.timestamp }}
        </div>
      </div>
    </div>

  </div>
</div>