<div class="home-content">
  <div class="main-top-content">
    <div class="propaganda" *ngFor="let propaganda of propagandas">
      <img class="propaganda-img" src="{{ propaganda.source }}">
      <div class="propaganda-text">
        <p> {{ propaganda.text }}</p>
      </div>
      <div class="propaganda-subtext">
        <p> {{ propaganda.subtext }} </p>
        <div class="buttons-propaganda">
          <div class="aux">
            <div class="propaganda-listen-space">
              <button class="propaganda-listen">Escutar!</button>
            </div>
            <div class="propaganda-follow-space">
              <button class="propaganda-follow">Seguir!</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-bot-content">
    <div class="your-playlists">
      <h1 class="yourPlaylistsTitle">Suas Playlists</h1>
      <div class="looping-space">
        <div class="card-space" (click)="playlistDetails(playlist)" *ngFor="let playlist of playlists">
          <button class="card-button">
            <div class="card">
              <img class="card-image" src="{{ playlist.image }}">
              <div class="card-text">
                {{
                  playlist.playlist_name
                }}
              </div>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

