<div class="home-container">
  <div class="side-bar">
    <sidebar></sidebar>
  </div>
  <div class="home-content">
    <div class="main-top-content">
      <div class="propaganda">
        <img class="propaganda-img" src="/assets/img/Slippery When Wet.svg">
        <div class="propaganda-text">
          <p > PERFEITO PARA VOCE</p>
        </div>
        <div class="propaganda-subtext">
          <p > TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT </p>
          <div class="buttons-propaganda">
            <div class="aux">
              <button class="propaganda-listen">Escutar!</button>
              <button class="propaganda-follow">Seguir!</button>
            </div>
          </div>
        </div>
      </div>
      <div class="propaganda">
        <img class="propaganda-img" src="/assets/img/Slippery When Wet.svg">
        <div class="propaganda-text">
          <p > PERFEITO PARA VOCE</p>
        </div>
        <div class="propaganda-subtext">
          <p > TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT </p>
          <div class="buttons-propaganda">
            <div class="aux">
              <button class="propaganda-listen">Escutar!</button>
              <button class="propaganda-follow">Seguir!</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main-bot-content">

    </div>
  </div>
  <div class="playbar">
    <playbar></playbar>
  </div>
</div>
